<nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="/message_boards">Message Boards</a>
          </li>
          <li class="breadcrumb-item"><a href="/message_boards/<%= @topic.message_board.id %>"><%= @topic.message_board.title %></a>
          </li>
          <li class="breadcrumb-item active" aria-current=""><%= @topic.title %></li>
        </ol>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</nav>

<% if current_user and current_user.has_role? :organizer %>
  <nav aria-label="breadcrumb" role="navigation" class="bg-dark text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <ol class="breadcrumb breadcrumb-links">
            <% if current_user.has_role? :organizer %>
              <%= link_to 'Edit', edit_topic_path(@topic) %>
              <%= link_to 'Destroy', @topic, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </ol>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </nav>
<% end %>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="mb-2">
          <%= link_to message_board_path(@topic.message_board) do %>
            <i class="icon-arrow-bold-left"></i> back to board
          <% end %>
        </div>
        <h1 class="h2 mb-2"><%= @topic.title %></h1>
        <span><%= @topic.description %></span>
      </div>
    </div>
  </div>
</section>

<section class="space-sm">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-12">
        <div class="card">
          <ul class="list-group list-group-flush list-group-comments">
            
            <% if @posts.present? %>
              <% @posts.each do |post| %>
                <li class="list-group-item">
                  <div class="media">
                    <a href="/users/<%= post.user.id %>" class="mr-2">
                      <%= render 'user_image', :user => post.user, :image_classes => 'avatar avatar-sm' %>
                    </a>
                    <!--<img alt="Image" src="/img/avatar-female-2.jpg" class="avatar avatar-sm">-->
                    <div class="media-body">
                      <div class="mb-2">
                        <a href="/users/<%= post.user.id %>">
                          <span class="h6 mb-0"><%= post.user.name %></span>
                        </a>
                        <span class="text-muted"><%= post.user.title_organization %></span>
                        <!--<span class="text-muted">Making awesome products</span>-->
                      </div>
                      
                      <% if post.post %>
                        <blockquote>
                          <div><strong class="text-muted"><%= post.post.user.name %></strong></div>
                          <div class="text-muted">
                            <%= auto_link(markdown(post.post.text), :html => { :target => '_blank' }) %>
                          </div>
                        </blockquote>
                      <% end %>
                      
                      <p>
                        <%= auto_link(markdown(post.text), :html => { :target => '_blank' }) %>
                      </p>
                      <div class="d-flex align-items-center">
                        <div class="mr-2">
                          <a class="btn btn-sm btn-outline-primary" href="/topics/<%= post.topic.id %>?post=<%= post.id %>&page=<%= params[:page] %>">Reply</a>
                        </div>
                        
                        <small class="text-muted">
                          <% if current_user %>
                            <%= post.created_at.utc.in_time_zone(current_user.timezone).strftime("%-d %B %Y • %I:%M %p") %>
                          <% else %>
                            <%= post.created_at.strftime("%-d %B %Y • %I:%M %p") %>
                          <% end %>
                        </small>
                      </div>
                      
                      <% if current_user.present? and (current_user.id == post.user_id or current_user.has_role? :organizer) %>
                        <div class="collapse" id="comment-reply-<%= post.id %>">
                          <%= form_with(model: post, local: true, class: "card-body pl-0") do |form| %>
                            <% if post.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
                          
                                <ul>
                                <% post.errors.full_messages.each do |message| %>
                                  <li><%= auto_link(message) %></li>
                                <% end %>
                                </ul>
                              </div>
                            <% end %>
                            
                            <div class="form-group">
                              <%= form.text_area :text, class: "form-control from-control-lg markdown-editor", placeholder: "Type your reply here", rows: "5" %>
                            </div>
                          
                            <div class="d-flex align-items-center">
                              <button type="submit" class="btn btn-success mr-3">Update</button>
                              <a href="#comment-reply-<%= post.id %>" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Cancel</a>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                      
                    </div>
                    <div class="media-right">
                      <div class="mt-2">
                        <% if current_user.present? and (current_user.id == post.user_id or current_user.has_role? :organizer) %>
                          <div class="mr-2">
                            <button class="btn btn-sm btn-primary" type="button" data-target="#comment-reply-<%= post.id %>" data-toggle="collapse" aria-expanded="false" aria-controls="comment-reply">Edit</button>
                            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-primary" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>                    
          
          <% if @reply.present? %>
          <script type="text/javascript">
            jQuery(document).ready(function(){
              jQuery("html, body").animate({ scrollTop: jQuery('#comment-reply-second').offset().top });
            });
          </script>
          <% end %>
          
          <% if current_user %>
          <div class="card-header bg-secondary d-flex justify-content-between">
            <button class="btn btn-secondary" type="button" data-target="#comment-reply-second" data-toggle="collapse" aria-expanded="false" aria-controls="comment-reply">Post a reply</button>
          </div>
          <div class="collapse <% if @reply.present? %>show<% end %>" id="comment-reply-second">
            <% if @reply.present? %>
              <div class="p-3">
              <div class="text-muted mb-1">Replying to:</div>
              <div><strong><%= @reply.user.name %></strong></div>
              <div>
                <%= auto_link(markdown(@reply.text), :html => { :target => '_blank' }) %>
              </div>
              </div>
            <% end %>
            
            <%= form_with(model: @post_new, local: true, class: "card-body") do |form| %>
              <% if @post_new.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
            
                  <ul>
                  <% @post_new.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              
              <div class="form-group">
                <%= form.text_area :text, class: "form-control from-control-lg markdown-editor", placeholder: "Type your reply here", rows: "5" %>
              </div>
            
              <%= form.hidden_field :user_id, :value => current_user.id %>
              <%= form.hidden_field :topic_id, :value => @topic.id %>
              
              <% if @reply.present? %>  
                <%= form.hidden_field :post_id, :value => @reply.id %>
              <% end %>
              <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-success mr-3">Submit reply</button>
                <a href="#comment-reply-second" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Cancel</a>
              </div>
            <% end %>
          </div>
          <% end %>
          
          <%= paginate @posts %>
          
        </div>

      </div>

      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>