<nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="/events">Events</a>
          </li>
          <li class="breadcrumb-item"><a href="/events/<%= @talk.event.id %>"><%= @talk.event.title %></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page"><%= @talk.title %></li>
        </ol>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</nav>

<% if current_user and current_user.has_role?(:organizer) %>
<nav aria-label="breadcrumb" role="navigation" class="bg-dark text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <ol class="breadcrumb breadcrumb-links">
          <%= link_to 'Edit', edit_talk_path(@talk) %>
          <%= link_to 'Destroy', @talk, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Add paper', new_paper_path(:talk => @talk.id) %>
        </ol>
      </div>
    </div>
  </div>
</nav>
<% end %>

<%= render :partial => 'shared/page_header', locals: { :title => @talk.title } %>

<section class="space-sm">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-8 col-lg-7">
        <% if @talk.recorded_video_link.present? %>
          <div class="video-cover">
            <div class="video-play-icon">
              <i class="icon-controller-play"></i>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" data-src="<%= @talk.recorded_video_link %>" allowfullscreen></iframe>
            </div>
          </div>
        <% end %>
        
        <article>
          <%= auto_link(markdown(@talk.description), :html => { :target => '_blank' }) %>
        </article>
        <hr>
        
        <h5>Live video</h5>
          <% if @talk.live_video_link.present? %>
            <p><%= link_to @talk.live_video_link, @talk.live_video_link, target: "_blank" %></p>
          <% else %>
            <p>No live video link available yet</p>
          <% end %>
        <hr>
        
        <h3>Papers</h3>
        
        <div class="list-group list-group-flush">
          <% if @papers.size > 0 %>  
            <% if current_user and current_user.has_role?(:organizer) %>
            <p><%= link_to 'Add paper', new_paper_path(:talk => @talk.id), :class => 'btn btn-primary' %></p>
            <% end %>
            
            <% @papers.each do |paper| %>
              <%= render 'talks/paper', paper: paper %>
            <% end %>
          <% else %>
            <p>No papers available at this point</p>
            <% if current_user and current_user.has_role?(:organizer) %>
            <p><%= link_to 'Add paper', new_paper_path(:talk => @talk.id), :class => 'btn btn-primary' %></p>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-md-4">
        
        <div class="card">
          <ul class="list-group list-group-flush">
            <% if @talk.date.present? %>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div><i class="icon-calendar mr-1"></i> Date</div>
                <% if current_user and @talk.timespan.present? %>
                  <span><%= @talk.date.utc.in_time_zone(current_user.timezone).strftime("%d %B %Y") %></span>
                <% else %>
                  <span><%= @talk.date.strftime("%d %B %Y") %></span>
                <% end %>
              </div>
            </li>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div><i class="icon-clock mr-1"></i> Time</div>
                <% if current_user and @talk.timespan.present? %>
                  <span><%= @talk.date.utc.in_time_zone(current_user.timezone).strftime("%I:%M %p") %> - <%= (@talk.date.utc + @talk.timespan.minutes).in_time_zone(current_user.timezone).strftime("%I:%M %p") %></span>
                <% else %>
                  <span><%= @talk.date.strftime("%I:%M %p") %></span>
                <% end %>
              </div>
            </li>
            <% end %>
            
            <% if @talk.category_id.present? %>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div><i class="icon-tag mr-1"></i> Category</div>
                <span><%= @talk.category.name %></span>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        
        <%= render 'shared/speakers_card', :speakers => @talk.speakers, view_all: true, title: 'Speakers' %>
      </div>
    </div>
  </div>
</section>