<nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="/users">Users</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Change password</li>
        </ol>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</nav>
<div class="tab-content">
  <div class="tab-pane fade show active" id="general" role="tabpanel">
    <div class="container">
      <!--end of row-->
      <hr>
      <div class="row mb-4">
        <div class="col">
          <h5>Change password</h5>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
      <div class="row">
        <!--end of col-->
        <div class="col-12 col-md-8 order-md-1">
          <%= form_for @user, url: update_password_path(@user), method: :post do |f| %>
            
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this talk from being saved:</h2>
          
                <ul>
                <% user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            
            <div class="col-12">
              <div class="form-group">
                <label>Password:</label>
                  <%= f.password_field :password, class: "form-control form-control-lg", required: true  %>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label>Password confirmation:</label>
                  <%= f.password_field :password_confirmation, class: "form-control form-control-lg", required: true  %>
              </div>
            </div>
            
            <div class="col-6">
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            
          <% end %>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
      <hr>
    </div>
    <!--end of container-->
  </div>
  <!--end of tab pane-->
</div>
<!--end of tabs content-->