<section>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <div class="media align-items-center">
          <div class="media-body">
            <div class="mb-3">
              <h1 class="h2 mb-2">Users</h1>
            </div>
          </div>
        </div>
      </div>
      <!--end of col-->
      <div class="col-auto">
        <a href="/users/new" class="btn btn-primary"><i class="icon-add-user mr-1"></i>Create new user</a>
        <a href="/users/upload" class="btn btn-primary"><i class="icon-add-user mr-1"></i>Upload users csv</a>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="flush-with-above">
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-hover align-items-center table-borderless">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <!--<th scope="col">Title</th>-->
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            
            <% @users.each do |user| %>
            <tr class="bg-white">
              <th scope="row">
                <div class="media align-items-center">
                  <%= render 'user_image', :user => user %>
                  <div class="media-body">
                    <span class="h6 mb-0"><%= user.name %>
                      <% if user.title.present? %>
                       <span class="badge badge-secondary"> <%= user.title %></span>
                      <% end %>
                    </span>
                    <span class="text-muted"><a href="/users/<%= user.id %>">Show details</a></span>
                  </div>
                </div>
              </th>
              <td><%= user.email %></td>
              <!--<td><%= user.title %></td>-->
              <td>
                <div class="dropdown">
                  <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-dots-three-horizontal"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-sm">
                    <!--<a class="dropdown-item" href="#">Edit</a>-->
                    <%= link_to 'Edit', edit_user_path(user), class: "dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <!--<a class="dropdown-item" href="#">Delete</a>-->
                    <%= link_to 'Delete', destroy_user_path(user), method: :delete, class: "dropdown-item" %>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="table-divider">
              <th></th>
              <td></td>
            </tr>
            <% end %>
            
          </tbody>
        </table>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<!--end of section-->