<nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="/users">Users</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">New User</li>
        </ol>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</nav>
<div class="tab-content">
  <div class="tab-pane fade show active" id="general" role="tabpanel">
    <div class="container">
      <!--end of row-->
      <hr>
      <div class="row mb-4">
        <div class="col">
          <h5>New user</h5>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
      <div class="row">
        <!--end of col-->
        <div class="col-12 col-md-8 order-md-1">
          <%= form_for User.new, :html => {:class => 'row'}, url: create_user_path do |f| %>
            
            <div class="col-12">
              <div class="form-group">
                <label>Name:</label>
                <%= f.text_field :name, class: "form-control form-control-lg", required: true %>
                <!--<textarea class="form-control form-control-lg" name="profileBio" rows="4" id="about-me"></textarea>-->
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label for="username">Email:</label>
                <%= f.email_field :email, class: "form-control form-control-lg", required: true %>
                <!--<small>This will be displayed on your public profile</small>-->
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label>Timezone:</label>
                <%= f.time_zone_select :timezone, nil, {}, {:class => 'form-control form-control-lg', :required => true} %>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label>Password:</label>
                  <%= f.password_field :password, class: "form-control form-control-lg", required: true  %>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label>Password confirmation:</label>
                  <%= f.password_field :password_confirmation, class: "form-control form-control-lg", required: true  %>
              </div>
            </div>
          
            <div class="col-12">
              <div class="form-group">
                <label>Upload image:</label>
                  <%= f.file_field :image, class: "form-control" %>
              </div>
            </div>
            
            <div class="col-6">
              <div class="form-group">
                <label>Job title:</label>
                <%= f.text_field :title, class: "form-control form-control-lg"%>
                <!--<textarea class="form-control form-control-lg" name="profileBio" rows="4" id="about-me"></textarea>-->
              </div>
            </div>
            
            <div class="col-6">
              <div class="form-group">
                <label>Organization:</label>
                <%= f.text_field :organization, class: "form-control form-control-lg"%>
              </div>
            </div>
            
            <div class="col-6">
              <div class="form-group">
                <label>City:</label>
                <%= f.text_field :city, class: "form-control form-control-lg"%>
              </div>
            </div>
            
            <div class="col-6">
              <div class="form-group">
                <label>Country:</label>
                <%= f.text_field :country, class: "form-control form-control-lg"%>
              </div>
            </div>
            
            <div class="col-12 mt-4 mb-4">
              <h5>Social links</h5>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label>Website:</label>
                <%= f.text_field :link_website, class: "form-control form-control-lg"%>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label>Youtube:</label>
                <%= f.text_field :link_youtube, class: "form-control form-control-lg"%>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label>Facebook:</label>
                <%= f.text_field :link_facebook, class: "form-control form-control-lg"%>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label>Linkedin:</label>
                <%= f.text_field :link_linkedin, class: "form-control form-control-lg"%>
              </div>
            </div>
            
            <div class="col-12">
              <div class="form-group">
                <label>Twitter:</label>
                <%= f.text_field :link_twitter, class: "form-control form-control-lg"%>
              </div>
            </div>
            
            <div class="col-6">
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            
          <% end %>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
      <hr>
    </div>
    <!--end of container-->
  </div>
  <!--end of tab pane-->
</div>
<!--end of tabs content-->