<div class="col-12 col-md-8 col-lg-7">
  <div class="card card-lg text-center">
    <div class="card-body">
      <div class="mb-4">
        <h2 class="mb-2">Reset password</h2>
      </div>
      <div class="row no-gutters justify-content-center">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "text-left col-lg-8" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <label for="reset-email">Password</label>
            <%= f.password_field :password, autofocus: true, class: "form-control form-control-lg", placeholder: "Password" %>
          </div>
          <div class="form-group">
            <label for="reset-email">Password confirmation</label>
            <%= f.password_field :password_confirmation, autofocus: true, class: "form-control form-control-lg", placeholder: "Confirmation" %>
          </div>
          <div class="text-center mb-4">
            <button type="submit" class="btn btn-primary btn-lg">Change password</button>
          </div>
        <!--</form>-->
        <% end %>
      </div>
      <!--end of row-->
    </div>
  </div>
  <div class="text-center">
    <span class="text-small">Already have an account? <a href="/users/sign_in">Sign in</a></span>
  </div>
  <div class="text-center">
    <span class="text-small">Go back to the <a href="/">home page</a></span>
  </div>
</div>