<% if speakers.present? %>
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div>
        <span class="h6">
          <%= title %>
        </span>
      </div>
      <% unless view_all %>
        <a href="/events/<%= event.id %>/speakers">View all ›</a>
      <% end %>
    </div>
    <div class="card-body">
      <ul class="list-unstyled list-spacing-sm">
        
        <% speakers.order(:name => :asc).each do |speaker| %>
        <li>
          <a class="media" href="/users/<%= speaker.id %>">
            <%= render partial: 'users/user_image', :locals => { user: speaker, image_classes: 'avatar avatar-sm mr-3' } %>
          
            <div class="media-body">
              <span class="h6 mb-0"><%= speaker.name %></span>
              <span class="text-muted"><%= speaker.title_organization %></span>
            </div>
          </a>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
<% end %>