 <div class="row mb-4">
  <div class="col-2">
    <% if current_user.present? %>
      <div><%= talk.date.utc.in_time_zone(current_user.timezone).strftime("%I:%M %p") %></div>
    <% else %>
      <div><%= talk.date.strftime("%I:%M %p") %></div>
    <% end %>
    <div class="text-muted">
      <i class="icon-clock"></i>
      <% if talk.timespan.present? %>
        <% Time.at(talk.timespan*60).utc.strftime "%H:%M" %>
        <% if (talk.timespan / 60) > 0 %><%= talk.timespan / 60 %>h <% end %><% if (talk.timespan % 60) > 0 %><%= talk.timespan % 60 %>m<% end %><br>
        <%= talk.category.name %>
      <% end %>
    </div>
  </div>
  <div class="col-8">
    <h5><%= link_to talk.title, talk_path(talk) %></h5>

    <% talk.speakers.order(:name => :asc).each do |speaker| %>
      <div class="mb-1">
        <%= render 'events/talk_speaker', :user => speaker %>
      </div>
    <% end %>
  </div>
  <div class="col-2">
    <%= link_to 'Show more', talk_path(talk), :class => "btn btn-primary" %>
  </div>
</div>