<div class="row mb-2">
  <div class="col-8">
    <div><%= paper_file.title %></div>
    <% if paper_file.document.attached? %>
      <%= link_to paper_file.document.filename, url_for(paper_file.document), :target => 'blank' %>
    <% end %>
  </div>
  <div class="col-3 text-right">
    <% if paper_file.document.attached? %>
      <%= link_to 'download', url_for(paper_file.document), :target => 'blank', :class => 'btn btn-secondary' %>
    <% end %>
  </div>
  <div class="col-1 text-right">
    <% if current_user and (current_user.has_role?(:organizer) or 
      paper_file.paper.authors.include?(current_user)) %>
      <div class="dropdown">
        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="icon-dots-three-horizontal"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-sm">
          <!--<a class="dropdown-item" href="#">Edit</a>-->
          <%= link_to 'Edit', edit_paper_file_path(paper_file), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <!--<a class="dropdown-item" href="#">Delete</a>-->
          <%= link_to 'Delete', paper_file_path(paper_file), method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% end %>
  </div>
</div>